* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box
}

.navbar {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.navbar span+span {
    margin-left: 20px;
}

.bookNow span {
    background-color: #d3d3d3ab;
    padding: 10px;
    border-radius: 7px;
    transition: background-color 200ms ease-in-out;
}

.bookNow span:hover {
    background-color: grey;
}

h1, h2 {
    text-align: center;
}